# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
doc/
*.swp
*-
.project
.DS_Store

config/database.yml
config/s3.yml
config/gmail.yml
config/local_env.yml

*.dbf
.idea/.generators
.idea/.name
.idea/.rakeTasks
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.xml
.idea/encodings.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/scopes/scope_settings.xml
.idea/runConfigurations/spec__hawkeye.xml
.idea/runConfigurations/Development__hawkeye.xml
.idea/runConfigurations/Production__hawkeye.xml
.idea/runConfigurations/Development__hawkeye.xml
.idea/runConfigurations/test__hawkeye.xml