<h1>Google Drive</h1>

<div class="row">
  <div class="col-md-6">
  	<h3>Tacos Daily Sales Folder</h3>
    <div id="gdrive_tacos_file_list">
    	<button class="btn" id="get_folder_btn">Get folder</button>
    	<!-- Loading file list from Google Drive... -->
    	<!-- This div will be loaded via ajax - it's the list of files from Drive -->
    </div>    
  </div>
  <div class="col-md-6" id="gdrive_folder_contents">
  		<!-- This div will hold the contents of the folder selected from the file list -->
  </div>
</div>

<div>
  <h3>Drive search results for GNDITEM</h3>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Folder Title</th>
        <th>File Title</th>
      </tr>
    </thead>
    <tbody>
      <% @gnditem_results.each do |item| %>
        <tr>
          <td><a href="/google_drive_sync/get_file?file_id=<%= item[:id] %>"><%= item[:id] %></a></td>
          <td><%= item[:parent_title] %></td>
          <td><%= item[:title] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id="google_drive_sync_index"></div>