<div class="row">
	<div class="page-header">
		<h1 class="pull-left">Item Sales</h1>
	
		<div class="pull-right">
			<div id="spinner"></div>
			<div class="btn-group" data-toggle="buttons">
				<label id="date_filter_all_time" class="btn btn-primary btn-xs">
			    <input type="radio"  value="all">All
			</label>
			<label id="date_filter_current_year" class="btn btn-primary btn-xs active">
				<input type="radio" value="current_year">Current year
			</label>
			<label id="date_filter_current_month" class="btn btn-primary btn-xs">
				<input type="radio" value="current_month">Current month
			</label>
			<label id="date_filter_current_week" class="btn btn-primary btn-xs">
				<input type="radio" value="current_week">Current week
			</label>
			<label id="date_filter_daterange" class="btn btn-primary btn-xs">
				<input type="radio" value="custom">Custom range
			</label>
			</div>
		</div>

		<div class="clearfix"></div>
		<div class="pull-right col-md-5" id="custom_range_input" style="display:none; margin-top:0px; width:inherit;">  
			<form class="form-inline" role="form">
				<div class="form-group">
				    <div class="input-daterange input-group datepicker">      
				    	<input type="text" size="15" id="date_range_start" name="date_range_start" value="" class="input-sm form-control" />
				        <span class="input-group-addon">to</span>
				        <input type="text" size="15" id="date_range_end" name="date_range_end" value="" class="input-sm form-control" />
				    </div>						    
				    <span class="help-block"></span>
			 	</div>
			 	<div class="form-group">
			 		<button id="date_range_filter_btn" type="button" class="btn btn-success btn-xs">Filter</button> 
			 	</div>
			 </form>
		</div>
		
	</div>
</div> <!-- end header row -->

<div class="row">
	<div class="col-md-1">

	</div>
	<div class="col-md-3">
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title text-centered">Total Net Sales</h3>
		  </div>
		  <div class="panel-body">
		    <h2 class="meal-info-box" id="net_sales_info_box">$<%= number_with_precision(@net_sales, :precision => 0, :delimiter => ",") %></h2>
		  </div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title text-centered">Total Discounts</h3>
		  </div>
		  <div class="panel-body">
		    <h2 class="meal-info-box" id="discounts_info_box">$<%= number_with_precision(@discount_totals, :precision => 0, :delimiter => ",") %></h2>
		  </div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title text-centered">Total M4M</h3>
		  </div>
		  <div class="panel-body">
		    <h2 class="meal-info-box" id="m4m_info_box"><%= number_with_precision(@m4m_totals, :precision => 0, :delimiter => ",") %></h2>
		  </div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">Aggregate Item Sales
				<div class="pull-right padding-right">
			  		<form class="form-horizontal">
			  		<% %>
			  		<div class="form-group">
					    <div class="btn-group" data-toggle="buttons">
					        <label id="breakdown_by_day_selector" class="btn btn-default btn-xs">
					            <input type="radio" name="granulatiry" value="day">day
					        </label>
					        <label id="breakdown_by_month_selector" class="btn btn-default btn-xs active">
					            <input type="radio" name="granulatiry" value="month">month
					        </label>
					        <label id="breakdown_by_quarter_selector" class="btn btn-default btn-xs">
					            <input type="radio" name="granulatiry" value="quarter">quarter
					        </label>
					        <label id="breakdown_by_year_selector" class="btn btn-default btn-xs">
					            <input type="radio" name="granulatiry" value="year">year
					        </label>
					    </div>
					</div>
					</form>
					<% %>
			  	</div>
			</div><!-- end panel heading -->
			<div class="panel-body">
				<div class="ajax_loading" id="aggreage_loading_spinner"></div>
				<div class="table-responsive" id="aggregate_tbl_container">

					
					<!-- loaded from ajax item_sales.js -->
				</div>
			</div>
		</div><!-- end panel -->
	</div><!-- end 5 column cont -->

</div>

<div class="row">

	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">Item Sales Details - NOT WORKING PROPERLY, NEED TO FIX
		  </div>
		  <div class="panel-body">
		    <div class="table-responsive" id="detail_tbl_container">
		    	
				<%= render "detail_table" %>

			</div>
		  </div>
		</div>


	</div> <!-- end 12 column cont for item sales table -->
</div>

<!-- div used just to ID the page from JS -->
<div id="item_sales_index_page"></div>