<% if (@p42_meal_count_rule.start_date..@p42_meal_count_rule.end_date).include?(Date.today) %>
    <%= link_to edit_p42_meal_count_rule_path(@p42_meal_count_rule, :menu_item => @p42_meal_count_rule.menu_item_id), remote: true, method: :get do %>
        <span class="label label-success">Modifier: <%= @p42_meal_count_rule.meal_modifier %></span>
    <% end %>                                                
<% else %>
        <%= link_to edit_p42_meal_count_rule_path(@p42_meal_count_rule, :menu_item => @p42_meal_count_rule.menu_item_id), remote: true, method: :get do %>
        <span class="label label-default">Modifier: <%= @p42_meal_count_rule.meal_modifier %></span>
    <% end %> 
<% end %>