<div class="table-responsive">
	<table class="table table-hover datatable" id="m4m_month_tbl">
		<thead>
			<tr>
				<th>Month</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<% @month_totals.each do |month| %>
				<tr>
					<td><%= month.month.strftime("%B %Y") %></td>
					<td><%= number_with_precision(month.total, :precision => 0, :delimiter => ",") %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>