<h1>Pitza 42 Ticket Items</h1>

<% result = P42::TicketItem.get_file_list %>
<% result.each do |item| %>
<p><a href="parse_csv?file_id=<%= item['id'] %>" data-method="post"><%= item['id'] %></a>
<b><%= item['title'] %></b>
</p>
<% end %> 